{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wake on LAN</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-prefers-dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-notifications.css' %}">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="ml-2" src="{% static 'img/favicon.png' %}" width="28" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Devices
                </a>
                <a class="navbar-item" href="/settings/">
                    Settings
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <section class="section">
            <h1 class="title is-size-2">
                Settings
            </h1>
            <p class="subtitle">
                Wake on LAN
            </p>
        </section>
        <section class="section pt-4 pb-3">
            <form action="/save-settings/" method="post">
                {% csrf_token %}
                <div class="box no-flex">
                    <h2 class="title is-size-3 mb-4">General</h2>
                    <div class="columns is-mobile">
                        <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                            <span class="mr-2"><strong>Notifications:</strong></span>
                        </div>
                        <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                            <div class="control">
                                <label class="radio">
                                    <input id="noti-on" type="radio" name="notifications" value="on" {% if settings.enable_notifications %}checked{% endif %}>
                                    Enabled
                                </label>
                                <label class="radio">
                                    <input id="noti-off" type="radio" name="notifications" value="off" {% if not settings.enable_notifications %}checked{% endif %}>
                                    Disabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                            <span class="mr-2"><strong>Console logging:</strong></span>
                        </div>
                        <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                            <div class="control">
                                <label class="radio">
                                    <input id="console-on" type="radio" name="console" value="on" {% if settings.enable_console_logging %}checked{% endif %}>
                                    Enabled
                                </label>
                                <label class="radio">
                                    <input id="console-off" type="radio" name="console" value="off" {% if not settings.enable_console_logging %}checked{% endif %}>
                                    Disabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                            <span class="mr-2"><strong>Sort devices by:</strong></span>
                        </div>
                        <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                            <div class="control">
                                <label class="radio">
                                    <input id="sort-name" type="radio" name="sort" value="name" {% if settings.sort_by == "name" %}checked{% endif %}>
                                    Name
                                </label>
                                <label class="radio">
                                    <input id="sort-ip" type="radio" name="sort" value="ip" {% if settings.sort_by == "ip" %}checked{% endif %}>
                                    IP
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                            <label class="mr-2" for="ip-range"><strong>Network address for discovering devices:</strong></label>
                        </div>
                        <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen is-narrow">
                            <input id="ip-range" class="input" type="text" placeholder="192.168.1.0/24" name="ip_range" value="{% if settings.scan_address %}{{ settings.scan_address }}{% endif %}" pattern="^([01]?\d\d?|2[0-4]\d|25[0-5])(?:\.(?:[01]?\d\d?|2[0-4]\d|25[0-5])){2}(?:\.(?:0))(?:/[0-2]\d|/3[0-2])$">
                        </div>
                    </div>
                    <button class="button is-primary" type="submit" value="Submit">Save</button>
                </div>
            </form>
        </section>
        <section class="section py-3">
            <div class="box no-flex">
                <h2 class="title is-size-3 mb-4">Add devices</h2>
                {% if settings.scan_address %}
                <button id="scan-button" class="button is-primary">Scan network</button>
                {% else %}
                <article class="message is-danger">
                    <div class="message-body">
                        Please enter the network address above and save to use this feature. Network address should look like "192.168.1.0/24".
                    </div>
                </article>
                <button id="scan-button" class="button is-primary" disabled>Scan network</button>
                {% endif %}
                <div id="scan-table-container" class="table-container py-3 is-hidden">
                    <table id="scan-table" class="table is-fullwidth">
                        <thead>
                            <th>Name</th>
                            <th>IP</th>
                            <th>MAC</th>
                            <th>Action</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="section py-3">
            <div class="box">
                <h2 class="title is-size-3 mb-4">App info</h2>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>App version:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ app_version }}</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Ping interval:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ ping_interval }} seconds</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Devices in database:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ devices_count }}</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Current visitors:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ visitors }}</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Debug mode:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ debug }}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section py-3">
            <div class="box">
                <h2 class="title is-size-3 mb-4">System info</h2>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>System:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ platform.system }}</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Node:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ platform.node }}</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Release:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ platform.release }}</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Version:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ platform.version }}</p>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-half-mobile is-one-thirds-tablet is-one-quarter-desktop is-one-fifth-widescreen">
                        <span class="mr-2"><strong>Machine:</strong></span>
                    </div>
                    <div class="column is-half-mobile is-two-thirds-tablet is-three-quarters-desktop is-four-fifths-widescreen">
                        <p>{{ platform.machine }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<footer>
    <script src="{% static 'js/bulma.js' %}"></script>
    <script src="{% static 'js/scan.js' %}"></script>
</footer>

</html>