.dot-grey {
    height: 30px;
    width: 30px;
    background-color: rgba(150, 150, 150, 1);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.6);
}

.dot-green {
    height: 30px;
    width: 30px;
    background-color: rgba(35, 209, 96, 1);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(35, 209, 96, 0.6);
}

.dot-red {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 56, 96, 1);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(255, 56, 96, 0.6);
}

.box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    .box {
        background-color: #292929;
    }    
}