:root {
    --box-bg: #292929;
    --up-green: #23d160;
    --down-red: #ff3860;
    --waiting-gray: #969696;
}

.box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box-waiting {
    border-left: 5px solid var(--waiting-gray);
}

.box-up {
    border-left: 5px solid var(--up-green);
}

.box-down {
    border-left: 5px solid var(--down-red);
}

.fas.fa-check {
    color: var(--up-green);
}

.fas.fa-times {
    color: var(--down-red);
}

.fas.fa-circle {
    border-radius: 50%;
}

.dot-waiting {
    color: var(--waiting-gray);
}

.dot-up {
    color: var(--up-green);
}

.dot-down {
    color: var(--down-red);
}

.button.is-static {
    border-color: transparent;
    color: inherit;
}

.notification {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 20%;
    min-width: 300px;
    max-width: 700px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.modal-card,
.modal-content {
    margin: 0 auto;
}

.modal-card-title {
    flex-shrink: unset;
}

.checkbox, .radio {
    display: table-header-group;
}

@media (prefers-color-scheme: dark) {
    .box {
        background-color: var(--box-bg);
        box-shadow: none;
    }

    .button.is-static {
        background-color: #dbdbdb;
        color: #363636;
    }

    .modal-card-body {
        background-color: black;
    }

    .modal-background {
        background-color: rgba(0, 0, 0, 0.86);
    }

    .navbar-menu.is-active {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
    }
}

@keyframes green-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(35, 209, 96, 0.6);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(35, 209, 96, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(35, 209, 96, 0);
    }
}

@keyframes red-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 56, 96, 0.6);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 56, 96, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 56, 96, 0);
    }
}