:root {
    --success: #{$success};
    --warning: #{$warning};
    --danger: #{$danger};
    --danger-dark-transparent: #{$danger-dark-transparent};
    --info: #{$info};
    --info-dark-transparent: #{$info-dark-transparent};
}

html[data-theme="light"] {
    --color-bg: #{$light};
    --color-text: #{$dark};
    --bg-lighter: #{$light-darker};
    --svg-close: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

html[data-theme="dark"] {
    --color-bg: #{$dark};
    --color-text: #{$light};
    --bg-lighter: #{$dark-lighter};
    --svg-close: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
