@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

:root {
	--success: #{$success};
	--warning: #{$warning};
	--danger: #{$danger};
	--danger-dark-transparent: #{$danger-dark-transparent};
	--info: #{$info};
	--info-dark-transparent: #{$info-dark-transparent};
}

html[data-theme='light'] {
	--color-bg: #{$light};
	--color-text: #{$dark};
	--bg-lighter: #{$light-darker};
	--bg-modal: #{$light};
	--svg-close: transparent
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
}

html[data-theme='dark'] {
	--color-bg: #{$dark};
	--color-text: #{$light};
	--bg-lighter: #{$dark-lighter};
	--bg-modal: #{$dark-lighter};
	--svg-close: transparent
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
}

body {
	color: var(--color-text);
	background-color: var(--color-bg);
}

.modal-content {
	background-color: var(--bg-modal);
}

.modal-header {
	border-bottom: 1px solid var(--color-text);

	.btn-close {
		background: var(--svg-close);
	}
}

.modal-footer {
	border-top: 1px solid var(--color-text);
}

.btn,
button {
	&.btn-light {
		color: var(--color-text);
		background-color: var(--bg-lighter);
		border-width: 0px;
	}

	&.btn-outline-success {
		border-color: $success;

		&:hover {
			background-color: $success;
		}
	}

	&.btn-outline-danger {
		border-color: $danger;

		&:hover {
			background-color: $danger;
		}
	}
}

.form-control {
	&:focus {
		border-color: inherit;
		box-shadow: none;
	}
}

@keyframes on-pulse {
	0% {
		box-shadow: 0 0 0 0 $success;
	}

	70% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes off-pulse {
	0% {
		box-shadow: 0 0 0 0 $danger;
	}

	70% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.success {
	color: var(--success);
}

.warning {
	color: var(--warning);
}

.danger {
	color: var(--danger);
}

pre {
	white-space: pre-line;
	background-color: var(--color-bg);
	padding: 1em;
	border-radius: 1em;
}

.card {
	border-radius: 2em;
	background-color: var(--bg-lighter);
}

.spinner-border {
	width: 1.5em;
	height: 1.5em;
}

.hover {
	&:hover {
		text-shadow: 0px 0px 20px rgb(155, 155, 155);
		transition: all 0.1s;
	}
}

.fa-2x {
	font-size: 1.5em;
}

.fa-power-off {
	border-radius: 1em;
}

.fa-circle {
	font-size: 0.8em;
}

.list-group-item {
	color: var(--color-text);
}

.inherit-color {
	color: inherit;
}

.callout {
	padding: 1rem;
	border-left-width: 0.25rem;
	border-radius: 0.25rem;

	&.callout-info {
		background-color: var(--info-dark-transparent);
		border: 1px solid var(--info-dark-transparent);
		border-left: 5px solid var(--info);
	}

	&.callout-danger {
		background-color: var(--danger-dark-transparent);
		border: 1px solid var(--danger-dark-transparent);
		border-left: 5px solid var(--danger);
	}
}
