# Sync repo to the Codeberg mirror
name: Mirror Sync
on:
  push:
    branches: ["master"]
  workflow_dispatch:
  schedule:
    - cron: "0 */24 * * *"
jobs:
  codeberg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: "git@codeberg.org:seriousm4x/UpSnap.git"
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
